/* Red Button */
.ui-btn-up-f, .ui-btn-hover-f, .ui-btn-down-f { 
  color: white; 
  font-weight: bold; 
  text-decoration: none; } 
 
.ui-btn-up-f { 
  border: 1px solid #711414; 
  background: #ab2525; } 
 
.ui-btn-hover-f { 
  border: 1px solid #6e0000; 
  background: #b54a4a; } 
 
.ui-btn-down-f { 
  border: 1px solid #782323; 
  background: #c44f4f; }
  
/* Green Button */
.ui-btn-up-g, .ui-btn-hover-g, .ui-btn-down-g { 
  color: white; 
  font-weight: bold; 
  text-decoration: none; } 
 
.ui-btn-up-g { 
  border: 1px solid #147127; 
  background: #25ab40; } 
 
.ui-btn-hover-g { 
  border: 1px solid #006e17; 
  background: #4ab560; } 
 
.ui-btn-down-g { 
  border: 1px solid #237834; 
  background: #4fc467; }