.sitenav .ui-btn .ui-btn-inner {
    padding-top: 45px !important; 
}

.sitenav .ui-btn .ui-icon { 
    width: 45px!important; 
    height: 45px!important; 
    margin-left: -24px !important; 
    box-shadow: none!important; 
    -moz-box-shadow: none!important; 
    -webkit-box-shadow: none!important;
    -webkit-border-radius: none !important;
    border-radius: none !important; 
}

#home .ui-icon { 
    background-image: url(images/navbar.png);
    background-position: -305px -67px;
    background-repeat: no-repeat;
}

#prodstats .ui-icon { 
    background-image: url(images/navbar.png);
    background-position: -206px -10px;
    background-repeat: no-repeat; 
}

#marquee .ui-icon { 
    background-image: url(images/navbar.png);
    background-position: -106px -10px;
    background-repeat: no-repeat; 
}

#exit .ui-icon { 
    background-image: url(images/navbar.png);
    background-position: -355px -66px;
    background-repeat: no-repeat; 
}

